################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WpfApp1/.vs/WpfApp1/v16/Server/sqlite3/db.lock
